<div>
    <h1>Products</h1>
    <ul>
        {{#each data}}
        <img src={{this.img}} alt="">
        <li>{{this.modelo}} : USD {{this.precio}}</li>
        {{/each}}

    </ul>
    <a href="/create"> Ingresar Producto</a>
</div>