{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="chatContainer">
        <form class="d-flex row col-md-4 text-center">
            {{!-- <h2>Chatbox</h2> --}}
            <input type="text" placeholder="Ingrese su email" name="" id="formEmail" class="m-5">
            <input type="text" placeholder="Ingrese un mensaje" id="formMensaje" class="m-5 p-3" > 
            <input type="submit" value="Enviar" class="m-5" id="btnMensajes"> 
        </form>
    
    <div id="containerMensajes"></div>
    </div>

</body>
</html> --}}