<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Ingrese su producto</h2>
    <form>
        <label for=""> Modelo </label>
        <input type="text" id="formModelo">
        <label for=""> Precio</label>
        <input type="text" id="formPrecio">
        <label for="">Imagen</label>
        <input type="text" id="formImagen">
        <input type="submit" value="Enviar" id="btnSubmit">
    </form>
    <div id="containerProductos"></div>

        <div class="chatContainer">
            <h2>Chatbox</h2>
        <form class="d-flex row col-md-4 text-center" id="formulario">
            {{!-- <h2>Chatbox</h2> --}}
            <input type="text" placeholder="Ingrese su email" name="" id="formEmail" class="m-5">
            <input type="text" placeholder="Ingrese un mensaje" name="" id="formMensaje" class="m-5 p-3" > 
            <input type="submit" value="Enviar" class="m-5" id="btnMensajes"> 
        </form>
    
    <div id="containerMensajes"></div>
    </div>



     <script src="/socket.io/socket.io.js"></script> <!-- Socket de parte del cliente-->
    <script src="/index.js"></script>
</body>
</html>