.productsContainer{
    background-color: antiquewhite;


}

.productsList{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}


.products{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}


.chatContainer{
    border: solid 2px;
    width: 500px;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;

}

#formEmail{
    min-width: 350px;
}
#formMensaje{
    min-width: 350px;
}